## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
url = "https://raw.githubusercontent.com/toussai37/Deep-Learning-Homework-Charity-Funding-Predictor/main/Resources/charity_data.csv"
application_df = pd.read_csv(url)
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_EIN_df = application_df.drop("EIN", axis=1)
drop_EIN_df.head()

                                       NAME  ... IS_SUCCESSFUL
0              BLUE KNIGHTS MOTORCYCLE CLUB  ...             1
1    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...             1
2        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...             0
3            SOUTHSIDE ATHLETIC ASSOCIATION  ...             1
4  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...             1

[5 rows x 11 columns]

In [3]:
drop_NAME_df = drop_EIN_df.drop("NAME", axis=1)
drop_NAME_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [4]:
# Determine the number of unique values in each column.
drop_NAME_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
drop_NAME_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    drop_NAME_df['APPLICATION_TYPE'] = drop_NAME_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
drop_NAME_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
drop_NAME_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C3700        1
C1248        1
C1728        1
C1245        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
vc = drop_NAME_df.CLASSIFICATION.value_counts()
vc[vc>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000','C1700','C4000','C5000','C1270','C2700','C2800','C7100','C1300','C1280','C1230','C1400','C7200','C2300','C1240','C8000','C7120','C1500','C6000','C1800','C1250','C8200','C1278','C1238','C1235','C1237','C7210','C4100','C2400','C1720','C1257','C1600','C1260','C0','C2710','C1267','C1246','C1234','C3200','C1256','C2561','C1732','C4500','C5200','C6100','C1248','C2500','C1245','C1236','C2170','C2570','C4120','C2150','C3700','C2600','C1900','C2190','C1728','C1570','C1283','C2380','C4200','C1820','C8210','C1580','C1370']

# Replace in dataframe
for cls in classifications_to_replace:
    drop_NAME_df['CLASSIFICATION'] = drop_NAME_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
drop_NAME_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(drop_NAME_df)
dummies.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
y = dummies["IS_SUCCESSFUL"].values
X = dummies.drop(["IS_SUCCESSFUL"],1).values

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
mc = tf.keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', 
                                     save_weights_only=True, save_freq=5)
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[mc])

Epoch 1/100
804/804 [==============================] - 7s 6ms/step - loss: 0.6534 - accuracy: 0.6591
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5795 - accuracy: 0.7212
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5657 - accuracy: 0.7273
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5597 - accuracy: 0.7290
Epoch 5/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5573 - accuracy: 0.7292
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5559 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5551 - accuracy: 0.7296
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5543 - accuracy: 0.7311
Epoch 9/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5536 - accuracy: 0.7315
Epoch 10/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5529 - accuracy: 0.7310
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5526 - accuracy: 0.7313
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5524 - accuracy: 0.7314
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5518 - accuracy: 0.7322
Epoch 14/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5515 - accuracy: 0.7322
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5509 - accuracy: 0.7324
Epoch 16/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5506 - accuracy: 0.7329
Epoch 17/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5502 - accuracy: 0.7330
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5501 - accuracy: 0.7339
Epoch 19/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5500 - accuracy: 0.7338
Epoch 20/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5498 - accuracy: 0.7344
Epoch 21/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5495 - accuracy: 0.7336
Epoch 22/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5494 - accuracy: 0.7338
Epoch 23/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5493 - accuracy: 0.7347
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5494 - accuracy: 0.7335
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5489 - accuracy: 0.7336
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5491 - accuracy: 0.7344
Epoch 27/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5489 - accuracy: 0.7349
Epoch 28/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5486 - accuracy: 0.7346
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5486 - accuracy: 0.7335
Epoch 30/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5484 - accuracy: 0.7343
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5483 - accuracy: 0.7337
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5485 - accuracy: 0.7347
Epoch 33/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5482 - accuracy: 0.7332
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5480 - accuracy: 0.7344
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5477 - accuracy: 0.7346
Epoch 36/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5476 - accuracy: 0.7340
Epoch 37/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5477 - accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5475 - accuracy: 0.7343
Epoch 40/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5473 - accuracy: 0.7338
Epoch 41/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5472 - accuracy: 0.7342
Epoch 42/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5472 - accuracy: 0.7349
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5468 - accuracy: 0.7352
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5470 - accuracy: 0.7350
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5467 - accuracy: 0.7343
Epoch 47/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5469 - accuracy: 0.7337
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5464 - accuracy: 0.7343
Epoch 49/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5465 - accuracy: 0.7333
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5463 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5465 - accuracy: 0.7346
Epoch 52/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5464 - accuracy: 0.7346
Epoch 53/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5463 - accuracy: 0.7353
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5461 - accuracy: 0.7342
Epoch 55/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5464 - accuracy: 0.7350
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5460 - accuracy: 0.7345
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5461 - accuracy: 0.7343
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5461 - accuracy: 0.7347
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5457 - accuracy: 0.7350
Epoch 60/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5460 - accuracy: 0.7355
Epoch 61/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5461 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5458 - accuracy: 0.7350
Epoch 63/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5460 - accuracy: 0.7354
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5458 - accuracy: 0.7353
Epoch 65/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5457 - accuracy: 0.7354
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5457 - accuracy: 0.7346
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5456 - accuracy: 0.7351
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5457 - accuracy: 0.7345
Epoch 70/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5454 - accuracy: 0.7353
Epoch 71/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 72/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 73/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7355
Epoch 74/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5455 - accuracy: 0.7348
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7356
Epoch 76/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7356
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5454 - accuracy: 0.7358
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5452 - accuracy: 0.7344
Epoch 79/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5453 - accuracy: 0.7352
Epoch 80/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5452 - accuracy: 0.7354
Epoch 81/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7347
Epoch 82/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7354
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7357
Epoch 84/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7351
Epoch 85/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 87/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7356
Epoch 88/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7351
Epoch 89/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7351
Epoch 90/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5448 - accuracy: 0.7357
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7358
Epoch 92/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 93/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5449 - accuracy: 0.7355
Epoch 94/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 95/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5447 - accuracy: 0.7359
Epoch 96/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5449 - accuracy: 0.7355
Epoch 97/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5449 - accuracy: 0.7356
Epoch 98/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5448 - accuracy: 0.7358
Epoch 99/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5448 - accuracy: 0.7364
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5447 - accuracy: 0.7352

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5536 - accuracy: 0.7257 - 719ms/epoch - 3ms/step
Loss: 0.553560197353363, Accuracy: 0.7257142663002014

In [19]:
# Export our model to HDF5 file
nn.save("application.h5")

In [20]:
from google.colab import files
files.download('application.h5')